
.canvasElement{
  background-color: white;
  border: 10px solid white;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 90vw;
  height: 400px;
}
.button{
  margin-left: 50px;
}
.dataContainer{
  padding: 25px;
}
.dataContainer select{
  padding: 5px;
  background-color: #3273dc;
  border: 0px;
  color: white;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
select{
  /* margin: 40px; */
}